@media screen and (min-device-width:768px) and (max-device-width:1024px) {

.logo {
    float: left;
    display: inline-block;
    margin-right: 50px;
}
    .affix .logo-sec {
    margin-right: 0;
    margin-left: 20px;
}
   header .navbar-inverse .navbar-nav > li > a {
    color: #222;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    padding: 15px 10px 15px 8px;
    font-size: 14px;
}
    .what-more-section .whats-txt h6{
       min-height: 50px;
    }
    .what-more-section .whats-txt {
    padding: 0px 25px 0 0;
}
    .product-grid8 .price aside {
    width: 45px;
    font-size: 9px;
    }
    .product-grid8 .title {
    font-size: 13px;
    line-height: 21px;

}
    .banner-text {
    top: 0px;
    right: -25%;
    padding: 40px;

}
    .banner-text h6 {
    font-size: 55px;
    line-height: 60px;
    }
}

@media screen and (min-device-width:481px) and (max-device-width:767px) {
    .logo {
    margin-right: 20px;
}
    .search-form4 {
    width: 32%;
}
    .banner-text h6 {
    font-size: 40px;
    line-height: 45px
    }
    .banner-text {
    top: 0px;
    padding: 35px;
    }
    .banner-text h2 {
    font-size: 60px;
    line-height: 50px;
    margin: 10px 0 0 0;

}
    .banner-text .btnbanner{
        margin: 25px 0 0 0;
    }
}

@media screen and (min-device-width:320px) and (max-device-width:480px) {
        
	.dashbord-section .dashbordlinks ul li{ margin: 0 0 5px 0; font-size: 13px; line-height: 20px; padding: 5px 10px 5px 10px;}
	.wallet-section .my-wallet .creditsbox .credittxt{ margin: 0 0 0px; }
	.dashbord-section .dashbordlinks{ margin-bottom: 20px; }
	.adresbox{ min-height: auto; }
	.shippingDetails .continue{ font-size: 14px; padding: 4px 25px; }
	.dashbord-section .dashbordtxt p{ line-height: 18px; font-size: 13px; }
	.buttonnone{ margin-bottom: 0px; }
	.buttonnone span{ margin: 0px 0; }
	.offer_txt{ margin: 0; }
	.shopping-carts .form-cart .btn-update, .shopping-carts .form-cart .btn-clean{ margin-left: 2px; }
	.shopping-carts .form-cart .btn-continue, .shopping-carts .form-cart .btn-update{ font-size: 13px; padding: 8px 10px; }
    .quickview-model .modal-dialog {
    width: 100%;
    }    
    .quickview-model .modal-body {
    padding: 20px;
}
    .quickview-model .quick-view-content {
    margin: 20px 0 0;
}
    .quickview-model .quick-view-content .btn-primary{
        margin-right: 6px;
    }
    .quickview-model .quick-view-content .btn {
    padding: 10px 13px 6px;
    font-size: 13px;
        width: auto;
}
    .quickview-model button.close {
    right: 7px;
    top: -14px;
}
    .search-form4 {
		width: 60%;
		margin-bottom: 20px;
		float: right;
	}
    .quickview-model .modal-body img {
    height: auto;
    object-fit: cover;
    width: 100%;
}
    .wallet-section .my-wallet{
        max-width: 100%;
        min-width: 100%;
        padding: 0;
    }
  .wallet-section .my-wallet .creditsbox  {
        padding: 0;
    }
    .wallet-section .my-wallet .creditsbox .credittxt{
        padding: 10px;
    }
    .wallet-section .my-wallet .creditsbox .credittxt h6{
        font-size: 13px;
    }
    .dashbord-section .dashbordtxt .shippingboy{
        margin: 20px 0;
    }    
    .checkout-section .cartimg {
    width: 100%;
    margin-bottom: 20px;
    }
    .checkout-section .cartdetails{
        width: 100%;
    }
    .checkout-section .cartdetails .removebtn {
    margin: 0px 0 10px 0;
    }
    .checkout-section .cartdelivery{
        text-align: left;
    }
    .checkout-section .ordersummery{
        margin: 25px 0 0 0;
    }
    .checkout-section .ordersummery ul li {
    font-size: 13px;
    }
    .blog-section .comment-section ul li .author-avatar{
        width: 100%;
        margin-bottom: 20px;
    }
    .blog-section .comment-section ul li{
        display: block;
    }
    .blog-section .comment-section ul li .comment-body{
        width: 100%;
    }
    
    .blog-section .article-info .social-buttons {
    float: left;
    margin: 10px 0 30px 0;
}
    .blog-section .blog-details h6{
    line-height: 30px;
        font-size: 18px;
}
    .why18up {
    padding: 0px;
}
    .seller-section1 {
    height: 349px;
}
   .dashbord-section .orderbtn {
    /*width: 100%;*/
    /*margin: 10px 0 10px 0;*/
    }
    .sell-section .sellbox {
    max-height: inherit;
    min-height: auto;
    padding: 50px 20px 50px 20px;
    }
    
 .table {
      display: block;
    }
    .table_row:nth-child(2n+3) {
      background: none;
    }
    .theader {
      display: none;
    }
    .table_row > .table_small > .table_cell:nth-child(odd) {
      display: table-cell;
      width: 41%;
        padding: 10px;
       vertical-align: top;
    }
    .table_cell {
      display: table-cell;
      width: 50%;
    }
    .table_row {
      display: table;
      width: 100%;
      border-collapse: separate;
      padding-bottom: 20px;
      text-align: left;
    }
    .table_small {
      display: table-row;
       border: solid 1px #333; 
    }
     .table_small:first-child{ background: #fdfbfb !important; text-align: center; }
     .table_small:nth-child(odd){ background: #f4f4f4; }
     .table_small:nth-child(even){ background: #fff; }
    .table_row > .table_small:first-child > .table_cell:last-child {
     
    }
     .table_row > .table_small > .table_cell{
          padding: 10px 10px;
          border-bottom: solid 1px #eaedef;
		 font-size: 13px;
     }
	 .dashbord-section .dashbordtxt ul li{width: 49%;}
	.dashbord-section .dashbordtxt ul li a{ padding: 7px 7px; font-size: 12px; }
     .table_row > .table_small:last-child > .table_cell {
           
     }
   
     .table_row > .table_small .table_cell:first-child {
     border-bottom: solid 1px #eaedef;
    }
    .table_row > .table_small:first-child > .table_cell:first-child {
      
    }
    .table_row > .table_small:first-child > .table_cell:last-child {
    	text-align: left;
    }
    .table_row > .table_small:last-child > .table_cell:first-child {
    }
    .table_row > .table_small > .table_cell:last-child {
      
    }
     .db-done{ float: left;}  
    
    .reviewscomment-section .reviewstxt .linkbox {
    text-align: left;
}
    .mywishlist-section .my-wishlist-page img {
    width: 80px;
        margin-bottom: 10px
}
    .testimonial-block {
    position: relative;
    padding: 10px;
        margin: 30px 0 0 0;
}
    .testimonial-block .inner-box {
    padding: 20px 20px;
}
    .testimonial-carousel .owl-next{
        top: 6rem;
    }

	
	.testimonial-carousel .owl-prev{
        top: 6rem;
    }
    .testimonial-block .info-box{
        width: 100%;
    }
    .testimonial-block .text p{
        margin-bottom: 0px;
    }
    .testimonial-section .sec-title h6{
        font-size: 20px !important;
    }
    
    .details {
    padding: 0 0 0 0px;
}
    .size span a {
    margin-left: 2px;
    }   
    .seller-info .seller-head {
    width: 61px;
    height: auto;
}
    .searchpin{
        right: 16px;
    }
    .addcartbox .add-to-cart, .like{
        width: 100%;
        margin-bottom: 15px;
    }
    .addcartbox .bynow, .like{
        width: 100%;
        margin-left: 0px;
    }
    .card {
    padding: 20px 29px 20px 29px;
    }
    .controls .nav > li {
    width: 29%;
    margin: 0px 8px 10px 0;
}
    .controls .nav > li > a > img {
    width: 60px;
}
    .about-spfc-section .tabs-detais .nav-tabs > li{
        width: 100%;
    }
    .about-spfc-section .shippingbox {
    width: 100%;
}
    .seller-listing-section .seller-header {
    text-align: left;
}
    .about-spfc-section .review {
    width: 100%;
}
    .thumbnail {
    padding: 10px;
    }
    .seller-register{
        right: 25px;
    }
    .sellertext {
    margin-top: 20px;
}
    .seller-section .sellerimg{
        margin-top: 30px;
    }
    .businestxt ul li {
    width: 45%;
    margin: 0 14px 30px 0;
    }
    .businestxtbtn{
        margin: 0px 0 0 0;
    }
    .forbusiness h4{
        line-height: 26px;
    }
     .forbusiness p{
        line-height: 26px;
    }
      .forbusiness h6{
          margin-top: 30px;
    }
    .sellerform{
        width: 100%;
    }
    .sellerform h6{
        line-height: 28px;
    }
    .sellerform p{
        line-height: 25px;
    }
    .checkout-section .tab-content {
    margin: 50px 0 0 0;
}
    .thankyou-section .thankyou-txt{
        width: 100%;
    }
    
    .helpfaq-section #accordion .panel-title a{
    	font-size: 13px;
		line-height: 16px;
		padding: 8px 10px 8px 30px;
    }
    .shopping-cart .order-summary{
        margin: 50px 0 0 0;
    }
    .helpfaq-section .panel-group{
        padding: 15px;
    }
    .forgetpassword{
        width: 100%;
    }
    .about-banner img {
        height: 100px;
        width: 100%;
    }    
    .about-section .about-txt{
        width: 100%;
        padding: 0;
    }
    .about-section {
    padding: 20px 0 20px 0;
}
    .register {
    width: 100%;
    }
    .welbcom {
    padding: 20% 10% 20% 10%;
    }
    .signupbtn{
        padding: 10px 50px;
        font-size: 13px;
    }
    .registrbtn {
    	padding: 5px 30px;
        font-size: 13px;
    }
    .navbar-nav {
    margin: 0;
}
	.navbar-collapse{ padding: 0;}
    header .navbar-inverse .navbar-nav > li > a{
        padding: 10px 25px 10px 10px;
    }
	.mega-dropdown.open .navbar-toggle { border-color: #fff !important; }
	.mega-dropdown.open a .caret { color: #fff !important; }
    .shopping-cart .form-cart button{
        width: 100%;
        margin: 0 0 15px 0;
    }
    .contactinfo{
        margin: 0 0 50px 0;
    }
    .logo {
		/*display: block;
		float: none;*/
		margin: 0px auto 8px;
		text-align: center;
    }
	.logo img{ width: 80px }
	.search-form4 .smart-search-form button{ font-size: 11px; height: 26px; padding: 0 8px; font-weight: 500; top: 2px; right: 3px; }
	.search-form4 .smart-search-form input[type="text"]{ font-size: 12px; height: 30px; }
	.btn-search sup{
		top: -2.4em;
		left: -6px;
		height: 15px;
		width: 15px;
		background: #1058BC;
		border-radius: 50%;
		display: block;
		color: #fff;
		font-size: 10px !important;
		padding: 3px 0 0 0 !important;
	}
    .banner-text {
    right: -25%;
    padding: 0;
        top: 19px;
    }
    .banner-text h6 {
    font-size: 17px;
    line-height: 19px;
    }
    .banner-text h2 {
    font-size: 21px;
        line-height: 30px;
    margin: 10px 0 0 0;
}
    .banner-text .btnbanner {

    padding: 1px 18px;
    line-height: 26px;
    margin: 10px 0 0 0;
    font-size: 11px;
}
    .add-section .add-imgsec img{
        width: 100%;
    }
    .slider .carousel-control.left, .carousel-control.right {
    background: none;
    display: none;
}
    .whitebox .owl-theme .owl-prev {
    left: -28px;
    top: 37%;
    }
     .whitebox .owl-theme .owl-next {
    right: -28px;
    top: 37%;
    }
    .product-grid8 .price {
    font-size: 12px;
    text-align: left;
    }
    .what-more-section .whatmorebox {
    margin: 0 0 30px 0;
}
    .mt{
    margin-top: -150px;
}
    .what-more-section .whatmorebox {
    margin: 0 0 30px 0;
    }
    .provide-section .provide-txt .provideimg {

    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}
    .provide-section .provide-txt {
    width: 100%;
}
    .provide-section .provide-txt .provide-content {

    width: 100%;
    text-align: center;
}
    .provide-section .provide-txt .provide-content p{
        display: block;
        text-align: center;
}
    .what-more-section {
    padding: 50px 0 20px 0;
}
    .provide-section {
    padding: 20px 0 50px 0;
    background: #f9f7f7;
}
    footer {
    padding: 10px 0 20px 0;
}
    footer .widget {
    margin-bottom: 5px;
}
    .subscribe {
		padding: 7px 15px;
		right: 14.9%;
		top: 2px;
		font-size: 13px;
}
    .mt60 {
    margin-top: 20px;
}
    footer .copyright {
    margin: 15px 0 0 0;
    text-align: left;
}
    footer .copyright p span {
    float: none;
        padding-left: 10px;
}
    footer .onlineicon {
    	margin: 10px 0 0 0;
        text-align: left;
}
    .h6{
        display: none;
}
    footer .footer-links ul{
        width: 100%;
    }
    header {
    padding: 15px 0 0;
}
   header .navbar-toggle {
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
	padding: 3px 7px;
}
	header button.navbar-toggle{ position: absolute; right: 0; top: -54px; }
    .login{
        margin: 0 0 0 12px;
		padding: 5px 10px;
    }
    .hdr-rt {
    float: none;
	display: inline-block;
	width: 100%;
		margin: 0;
}
	.header-btns-list-ul{ display: initial; }
    ul.header-btns-list{
        text-align: center;
    }
    ul.header-btns-list li {

    float: none;
    display:inline-flex;
}
    footer .copyright p{
        line-height: 20px;
    }
    
    .prolisting-section .pro-listing ul li{
        width: 100%
    }
    .prolisting-section .pro-listing {
    padding: 40px 20px 40px 20px;
}
    
        .about-spfc-section .tab-content h6{
        line-height: 27px;
    }
    .about-spfc-section .tabs-details .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    width: 100%;
    border-bottom: 1px solid #eee;
}
    .review .hp-sub-tit {
    margin-bottom: 0;
    margin-top: 30px;
}
    .electro-box span a {
    margin-left: 3px;
    width: 60px;
    }
    .seller-msg {
    margin-bottom: 10px;
}
    .product-grid8 .product-content{
        text-align: left;
    }
    .slide-heading h6{
        font-size: 17px;
    }
    .shopping-cart {
    margin: 40px 0;
    width: 300px;
    padding: 0;
    right: 4%;
        z-index: 999

}
    .order-summary {
    margin: 30px 0;
}
    .product-name {
    width: 100%;
    margin: 20px 0 20px 0;
}
    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-done{
        width: 100%;
    }
    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-todo{
        width: 100%;
    }
    .affix .logo-sec {
    margin: -8px 20px 0 17px;

}
	.show div{ display: none !important; }
	.show{
		height: auto !important;
	}
	.carttbl .theader .table_header:nth-child(2), .carttbl .table_row .table_small:nth-child(2), .carttbl .theader .table_header:nth-child(3), .carttbl .table_row .table_small:nth-child(3), .carttbl .theader .table_header:nth-child(4), .carttbl .table_row .table_small:nth-child(4), .carttbl .theader .table_header:nth-child(5), .carttbl .table_row .table_small:nth-child(5){ text-align: right; }
	.btn-search{ margin-left: 0px; width: 30px; font-size: 14px; padding: 6px 0px 0 0; height: 30px; }
	.navbar{ min-height: 0;}
	header.affix button.navbar-toggle {top: 0 !important;}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a{ padding: 5px 15px 5px 0px; }
	.navbar-nav .open .dropdown-menu{ overflow-y: scroll; max-height: 200px; }
	.zoom1 img { width: 100%; }
	.footer-section .fs20{ font-size: 16px; margin: 15px 0 10px; }
	footer .widget ul li h6{ margin-bottom: 0; }
	footer input[type="text"]{padding: 8px 22px; height: auto; margin: 0; }
	footer .widget form{
		margin: 10px 0 0 0;
		position: relative;
	}
	footer .widget img{ margin-bottom: 0px; }
	footer .footer-links ul li{
		font-size: 13px;
		line-height: 20px;
	}
	footer .widget p { font-size: 14px; line-height: 18px; }
	.contactform textarea.form-control{ height: 80px; }
	.contactform h6{ font-size: 22px; margin-bottom: 10px; }
	.contactform .form-control{ height: 35px; }
	.contactform{ padding: 6% 20px 8% 20px; }
	.contactinfo .icontext h4{ line-height: 21px; font-size: 13px; }
	.contactinfo h6{ line-height: 28px; }
	.fs30{ font-size: 22px; }
	.helpfaq-section{ padding: 30px 0 30px 0; }
	.helpfaq-section .mb20{ margin-bottom: 10px; }
	.helpfaq-section .mb40{ margin-bottom: 10px; }
	.helpfaq-section #accordion .panel-body{ padding: 10px 10px 10px 9px; }
	.helpfaq-section #accordion .panel-body p{ padding-left: 15px; line-height: 24px; font-size: 14px; }
	.helpfaq-section #accordion .panel-title a::after, #accordion .panel-title a.collapsed::after{ width: 35px; font-size: 20px; height: 35px; left: -10px; line-height: 35px;}
	.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover { color: #fff; background-color: #1058BC; }
	
	.wishlistlst .theader .table_header:nth-child(3), .wishlistlst .table_row .table_small:nth-child(3), .wishlistlst .theader .table_header:nth-child(4), .wishlistlst .table_row .table_small:nth-child(4), .wishlistlst .theader .table_header:nth-child(5), .wishlistlst .table_row .table_small:nth-child(5){ text-align: left !important; }
	
}