


@media (min-width: 1400px) {
    .prolisting-section .container-fluid {
        width: 1170px;
    }
}

@media (max-width: 1250px) {
    header .navbar-inverse .navbar-nav > li > a {
        padding: 16px 40px 0 16px;
    }
}

@media (max-width: 1199px) {
    .search-form4 {
        width: 300px;
    }
ul.header-btns-list li {margin: 0px 15px 0px 0px;}
    ul.header-btns-list li.sell {margin-left: 60px;}
    header .navbar-inverse .navbar-nav > li > a {
        padding: 16px 20px 0 16px;
    }

    .affix .navbar-inverse .navbar-nav > li > a {
        padding: 20px 16px;
    }
	.add-image {height: 240px;}
	.advertise-dec {padding: 25px;}
	.advertise-dec h4 { font-size: 22px;}
	.advertise-dec h2 { font-size: 40px;line-height: 40px;}
	.advertise-dec h3 { font-size: 34px;line-height: 34px;}
	.advertise-dec h6, .advertise-dec p {font-size: 14px;}
	.featured-list:before {height: 150px;}
.featured-list .add-image {width: 115px;height: 115px;}
    .featured-list li .add-image {
        width: 170px;
        height: 170px;
    }
    .btn-update { padding: 10px 6px 10px;font-size: 9px;}
    .btn-continue { padding: 10px 6px 10px;font-size: 9px;}
    #account-btn{}
    
    .sizechart{font-size: 14px;}
    .dashbord-section .dashbordlinks ul li{ line-height: 22px;padding: 8px 0px;
    margin: 0;}
    .dashbord-section .dashbordlinks ul li a{font-size: 13px;}
    .dashbordtxt .track-order-section .track-orderbox ol.progtrckr li{font-size: 6px;}
    .dashbord-section .orderbtn-bgblack{padding: 2px 4px 0px;font-size: 10px;}
    .orderbtn.addTocart{font-size: 10px;padding: 7px 5px 6px;}
    .mainbox {padding: 0px;}
    .contactinfo .iconbox{padding-right: 8px;}
    .contactinfo .iconbox i{  font-size: 16px;
        height: 34px;
        width: 34px;
        line-height: 24px;}
    .contactinfo .icontext h5{font-size: 12px;}
    .contactinfo .icontext h4{font-size: 13px;}
    .contactinfo h6 {font-size: 20px;}
	.srvs-item p {font-size: 11px;}
	/*===================== Product listing =====================*/
	.addtocart-btm-btn .btn span, .detail-cartbtns button span{margin-right: 3px;}
	.addtocart-btm-btn .btn {font-size: 12px;}
	.filter h6 {font-size: 17px;}
	.sidebar-box .box-title h5{font-size: 13px;}
    .pro-listing .product-grid8 .product-image8 {min-height: 190px; max-height: 190px;}
    .pro-listing .product-grid8 .title{font-size: 13px;}
    .product-grid8 .price{font-size: 16px;}
	ul.category-list li a {font-size: 12px;}
	/*===================== dashbord =====================*/
	.dashbord-section .dashbordtxt h6 {font-size: 16px;}
	.shareboxdash span {font-size: 14px;}
	.shareboxdash a+a i, .shareboxdash a i {font-size: 20px;}

}

@media (max-width: 994px) {
	.top-bar p {font-size: 12px;}
	.top-bar .top-menu li a {padding: 5px 5px;}
    .logo {}

    .preview {
        margin-bottom: 20px;
		    height: 380px;
    }
.genuanmainbox ul {font-size: 11px;}
.detail-cartbtns a, .detail-cartbtns button {padding: 10px 10px;font-size: 12px;}
.detail-cartbtns a.btn-light {font-size: 17px;padding: 10px;}
.addtocart-btm-btn .btn span, .detail-cartbtns button span {
    font-size: 13px;
    width: 16px;
    height: 15px;
    top: 2px;
    line-height: 14px;;
}
    header .navbar-inverse {
        padding-bottom: 10px;
    }

    .hdr-rt {
        /*position: absolute;
        right: 0px;*/
    }

    .search-form4 {
        /*position: absolute;
        left: 15px;
        width: 60%;*/
    }

    header .navbar-nav {
        /*margin-top: 55px;
        float: right;*/
    }

    header .navbar-inverse .navbar-nav > li > a {
        padding: 15px 25px 0 16px;
    }

    .affix .navbar-inverse .navbar-nav > li > a {
        padding: 12px 20px;
    }

    header .navbar-inverse .navbar-brand {
        padding: 15px 10px;
        margin-top: 45px;
    }

    .slider .carousel-control.left span {
        left: 5px;
    }

    .featured-list li {
        width: 19.3333%;
    }

    .featured-list li .add-image {
        width: 135px;
        height: 135px;
    }
	.featured-list {padding: 20px 20px 0px;}
	.featured-list:before { height: 130px;}
     .featured-list .add-image {width: 100px;height: 100px;}
    .text-box h4 {
        font-size: 12px;
    }
    .slide-heading h2{font-size: 30px;}
.pro-listing .product-grid8 .product-image8 {min-height: 200px; max-height: 200px;}
    #account-btn{display:block;}
	#mobile-show{display:none;}
	.filter #account-btn{display:none;}
	.filter-leftbar #mobile-show{display:block;}
	.filter {padding: 15px 10px;}
	.filter h6 { font-size: 16px;}
	.filter h6 i {display: block; font-size: 14px;padding: 0px;margin-right: 0px;}
	.sidebar-wrapper {padding: 0px 10px;}
    .sidebar-box .box-title h5{font-size: 13px;}
	ul.category-list li a { font-size: 11px;}
    .filtersize label span{font-size: 11px;}
    .pro-listing ul li:nth-child(4n+1){clear: inherit;}
    .pro-listing ul li:nth-child(3n+1){clear: both;}
    /*======== product details =========*/
    .addcartbox .add-to-cart, .like { padding: 10px 15px 7px;font-weight: 500;font-size: 12px;}
    .addcartbox .bynow, .like{padding: 10px 15px 7px;font-weight: 500;font-size: 12px;}
    .details {
        /*padding: 0 0 0 15px;*/
    }

    .size span a {
        margin-left: 2px;
    }

    .size a {
        margin-left: 5px;
    }

    .sizechart-model .modal-dialog {
        width: 600px;
    }

    .quickview-model .modal-dialog {
        width: 600px;
    }

    .productdetails-section {
        padding: 100px 0 50px 0;
    }

 /*============= About us =============*/
.title-bg {font-size: 30px;}
footer .widget h6 {font-size: 14px;}

    /*============= dashboard =============*/
    .orderstabs .nav-tabs > li a {padding: 10px 12px;font-size: 13px;}
	.dashbord-section .dashbordtxt h6 {font-size: 16px;}
	.shareboxdash span {font-size: 14px;}
	.shareboxdash a+a i, .shareboxdash a i {font-size: 20px;}
     .dashbord-section .orderbtn-bgblack{font-size: 10px;padding: 2px 5px 0px;}
    .orderbtn.addTocart{font-size: 10px;padding: 7px;}
    .shopping-carts .form-cart button {
        font-size: 13px;
    }

    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-done {
        width: 105px;
        font-size: 13px;
    }

    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-todo {
        font-size: 13px;
        width: 105px;
    }

    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-todo:before {
        bottom: -18px;
    }
    .price-txt h6{font-size: 10px;line-height: 18px;}
    .price-txt h4{font-size: 16px;}
   .dashbordtxt .track-order-section .track-orderbox ol.progtrckr li{font-size: 7px;}
   /*===================== refer_and_earn =======================*/
	.referral-code {padding: 10px 15px;}
}

@media (max-width: 767px) {
.dashbord-section .dashbordtxt h6{ margin-bottom: 20px;font-size: 15px; }
.badge.refferalcodeBox{ margin-top: 10px; }
.shareboxdash{ margin-top: 10px; float: inherit; }
/********************new search*************/
.add-image{height: 125px;}
.advertise-dec { padding: 10px;}
.advertise-dec h4 {font-size: 13px;}
.advertise-dec h2 {font-size: 16px;line-height: inherit;}
.advertise-dec h6, .advertise-dec p { font-size: 12px;margin-bottom:8px;line-height: inherit;}
.advertise-dec .btn-light {padding: 4px 10px; font-size: 10px;}
.advertise-dec h3 {font-size: 16px;line-height: inherit;}
.searchbox {
    position: relative;
    min-width: 0;
    width: 0%;
    float: right;
    overflow: hidden;
    z-index: 9;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}

ul.header-btns-list li .mobilesrch {
    display: block !important;
}

.searchbox-input {
    top: 0;
    right: 0;
    border: 0;
    outline: 0;
    background: #dcddd8;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0px 55px 0px 20px;
    font-size: 20px;
    color: red;
}

.searchbox-icon {
    cursor: pointer;
}

.searchbox-open {
    width: 100%;
}
.btn-search {
    padding: 4px 6px;
}
.search-form4 .smart-search-form input[type="text"]::placeholder{ color: #fff; font-size:12px;}
.search-form4 .smart-search-form input[type="text"] {
    padding: 0 31px 0 8px;
    font-size: 12px;
    height: 35px;
    border: solid 1px #ccc !important;
    border-radius: 0;
    border: none;
    background: none;
    border-radius: 5px 0 0 5px;
    color: #fff;
}

.search-form4 .smart-search-form button {
    padding: 8px 5px;
    height: 33px;
    font-size: 16px;
    z-index: 9;
}
    .registrform.loginpage{
    }
    .custom_select::after{ right: 8%; top: 11%; }
    .register .login-socialmedia{ margin: 0 0; }
    .welbcom h6{ font-size: 24px; margin-bottom: 15px; }
    .welbcom p{ line-height: 20px; }
    .scrolldownlogo{ display: none; }
    .affix .scrolldownlogo{ display: none; }
    .order-dex .list-inline.order-list{ margin-bottom: 10px; }
    .progtrckr-todo i, .progtrckr-done i{ bottom: -28px; }
    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-todo::before{
        left: 45%;
    }
    .trackorder .col-lft0{
        padding-left: 0;
        padding-right: 0;
    }
    .trackorder .db-2-main-com-table .add-image img{ height: 250px; max-width: 100%; width: auto; }
    .order-dex{ padding: 20px 10px; margin-left: -15px; }
    .sellettbl.table .table_row .table_cell{ line-height: 18px; } 
    .shippingbox .mb20{margin-bottom: 0px;}
    .about-spfc-section .tabs-details{ padding: 0px; }
	.tabs-details .nav-tabs>li>a {padding: 7px 8px;font-size: 12px;}
    .about-spfc-section .tab-content{ padding: 20px 0 0; }
    .availtext li p{ margin: 0px 0; }
    .genuanmainbox ul{ width: 100%; padding: 5px 3px; font-size: 10px;text-align: center; line-height: 16px;     margin-bottom: 20px;}
	.productdetails-section .review-no {font-size: 11px;}
    .colormainattribute{ width: 95%; }
    .colorleftattribute{ width: 20%; }
    .coloroptionbox ul li label.color1{height: 27px;width: 28px;}
    .sellerBlock{ margin-left: 15px;margin-top: 10px;}
	.detail-rating {margin-bottom: 15px;padding-bottom: 5px;}
	.prdtdtailprice {padding-top: 10px;}
	.details h4.price { font-size: 24px;}
	.details del {font-size: 13px;}
	.offer_txt {font-size: 12px; padding: 5px 10px;}
	.detail-cartbtns button span{display:none;}
	.detail-cartbtns a.btn-light {font-size: 17px; padding: 7px;}
	.details-dec p { font-size: 13px;text-align: justify;}
	.detail-cartbtns a, .detail-cartbtns button {padding: 8px 10px;font-size: 11px;}
    .colorrightattribute{ width: 70%; }
    .coloroptionbox ul{ width: 100%; height: 70px; }
    .coloroptionbox ul li label img{ width: 14px; }
	.wrap {padding: 30px 0px;}
	#see-all-hide, #see-all-hide2, #see-all-hide3, #see-all-hide4 {font-size: 12px;}
	.product-details-section .slide-heading {margin-top: 0px;}
	.product-details-section .whitebox{    padding: 0px;}
    .preview {height:200px;}
    .details .product-title{ font-size: 18px; min-height: auto; max-height: inherit; margin-bottom: 15px; }
    .details .rating{ margin: 0 0 5px; }
    .timeslotoptn .vertical-filters-label{ font-size: 12px; }
    .checkout-section .continue{ width: 100%; text-align: center; }
    .checkoutpagemain .table_row:last-child{ border-bottom: none; padding-bottom: 0; margin-bottom: 0; }
    .addinfo{ width: 100%; }
    .changeaddtext{ padding-top: 10px; }
    .review_ordr_box{ display: inline-block; }
    .review_ordr_left{ margin-bottom: 15px; }
    .review_ordr_right{ padding: 30px; }
    .review_ordr_left, .review_ordr_right{ display: block; width: 100%; }
    .checkoutpagemain .table_row{margin-bottom: 10px;}
    .totalmainboxcheckout{ margin-bottom: 15px; padding-bottom: 15px; }
    .shopping-carts .order-left{margin-top: 5px;}
    .savetextline{ margin-top: 10px; }
    .timeslotcheckout li span {
        display: none;
    }
    .hdr-top-cnt li:nth-child(4){ border: none; }
    ul.timeslotcheckout li a {
        padding: 10px 10px;
        font-size: 13px;
    }
    .timeslotoptn li {
        width: 49%;
    }
    .timeslotoptn li:nth-child(2n+2){ margin-right: 0px; }
    .coinsmain{ padding-bottom: 8px; }
    .order-summary { margin-bottom: 20px; }
    ul.timeslotcheckout li{width: 12.8%;}
    .dashbordtxt .progtrckr-done i, .dashbordtxt .progtrckr-todo i{bottom: -24px;}
    .table_small .orderidmrgncell{ margin-bottom: 5px; }
    .dashbord-section .table_small{ text-align: left; }
    .dashbordtxt .track-order-section .track-orderbox ol.progtrckr[data-progtrckr-steps="5"] li{ width: 48%; margin-bottom: 15px; }
    .dashbordtxt .track-order-section .track-orderbox ol.progtrckr li.progtrckr-todo::before{ left: 40% !important; }
    .dashbordtxt .track-order-section .track-orderbox ol.progtrckr li::before{bottom: -4.1em; left: 43%; }
    .dashbordtxt .track-order-section .track-orderbox ol.progtrckr li.progtrckr-done::before{ /*bottom: -2.7em !important;*/ }
    .dashbordtxt .progtrckr-todo i{ left: 42%; }
    .totaldash1{padding-right: 0px;}
    .carttbl .table_small{ text-align: left; }
    .carttbl .table_small .item-photo img.img-thumbnail{ width: 50px; }
	.filter #account-btn{display:block;}
	.filter-leftbar #mobile-show{display:none;}
    .filter{ padding: 15px 15px 15px; }
    .pro-listing .product-grid8 .add-to-cart-btn i{ display: none; }
	.addtocart-btm-btn .btn {font-size: 10px;    padding: 6px 5px;}
    .sale-box::before{ display: none; }
    .sale-box::after{ display: none; }
    .sidebar__inner {
        position: relative;
        position: -webkit-sticky;
        top: 0;
    }
    .sale-box{ border-radius: 50%;    background-size: 100%; }
    .logo {
        margin-right: 20px;
    }

    header {
        padding-top: 0px;
    }

    header .navbar-inverse .navbar-nav > li {
        display: block;
        width: 100%;
    }

    header .navbar-inverse .navbar-nav > li > a .caret {
        float: right;
    }

    header .navbar-inverse {
        padding-bottom: 0px;
    }
header .navbar-nav {
    text-align: left;
}
    header .navbar-inverse .navbar-nav > li > a {
        padding: 6px 10px;font-size: 12px;
    }
header .navbar-inverse .navbar-nav > li:first-child > a {
    padding-left: 10px;
}
    header .navbar-inverse .navbar-brand {
        padding: 5px 5px;
        margin-top: 0px;
    }

    .affix .navbar-inverse .navbar-brand {
        padding: 10px 5px;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px;
    }

    header .navbar-nav > li > .dropdown-menu {
        padding-top: 0px;
        height: 300px;
        overflow-x: scroll;
    }

    .mega-dropdown-menu > li {
        width: 50%;
        float: left;
    }

    .text-rgt {
        text-align: initial;
    }

    .top-bar .top-menu {
        /*text-align: center;*/
    }

    .affix .navbar-inverse .navbar-nav > li > a {
        padding: 12px 15px;
    }

    .search-form4 {
        margin-top: 0px;
        width: 55%;
        float: left;
    }

    .hdr-rt {
        margin-top: 5px;
        width: 45%;
        margin-left: 0px;
        margin-bottom: 2px;
    }

    ul.header-btns-list {
        float: right;
    }

    ul.header-btns-list li {
        margin: 0px;
    }
    ul.header-btns-list li #cart{margin-right: 8px;}
    .btn-search {
        padding: 4px;
    }

    .shopping-cart {
        width: 295px;
            right: 4%;
    }
ul.header-btns-list li .profile-menu { right: 10px;}
    .navbar-header {
        margin-top: 50px;
    }

    .navbar-brand > img {
        width: 85px;
    }
    .slide-heading .view{display: none;}
    .text-rgt {
        text-align: initial;
    }

    .top-bar .top-menu {
        /*text-align: center;*/
    }

    .search-form4 {
           margin-top: 0px;
    width: 100%;
    float: none;
    position: fixed;
    left: 0px;
    top: 126px;
    }

    .hdr-rt {
        margin-top: 5px;
        /*width: 85%;*/
        margin-left: 0px;
        margin-bottom: 2px;
        position: absolute;
        right: 10px;
        top: 0px;
        z-index: 9;
    }
    .hdr-rt.search-center{right: 105px;/*z-index: 2;width: 68%;*/}
ul.header-btns-list li.sell {
    display: none;}
    ul.header-btns-list {
        display: block;
    }

    ul.header-btns-list li {
        float: left;
        display: inline-flex;
            position: inherit;
    }

    .header-btns-list li:first-child .btn-search {
        padding: 4px 4px;
    }

    header .navbar-nav {
        margin-top: 0px;
        float: none;
    }

    ul.header-btns-list li .btn-search span {
        font-size: 10px;
        display: none;
    }

    .slider .carousel-control.left,
    .carousel-control.right {
        display: none;
    }

    .product-grid8 .product-content {
        text-align: center;
    }

    .product-grid8 .product-content .product-rgt {
        text-align: inherit;
    }

    .banner-text h6 {
        font-size: 40px;
        line-height: 45px;
    }

    .banner-text {
        top: 0px;
        padding: 35px;
    }

    .banner-text h2 {
        font-size: 60px;
        line-height: 50px;
        margin: 10px 0 0 0;
    }

    .banner-text .btnbanner {
        margin: 25px 0 0 0;
    }

    .whitebox .owl-theme .owl-prev {
        right: 0px;
        top: inherit;
        bottom: 10px;
    }

    .whitebox .owl-theme .owl-next {
        left: 0px;
        top: inherit;
        bottom: 10px;
    }

    .carousel-control.right {
        right: 30px;
    }

    .add-section {
        padding: 20px 0 20px 0;
    }

    .slide-heading h2 {
        font-size: 26px;
        line-height: initial;
    }

    .slide-heading {
        margin-top: 10px;
        padding-bottom: 0px;
    }

    .featured-list li {
        width: 50%;
    }

    .featured-list li .add-image {
        margin: 0px auto;
    }
	.featured-list .slide-heading h2 {
    font-size: 15px;}
	.featured-list .slide-heading h2 span {font-size: 11px;
    margin-left: 0px;
    display: block;}
	.featured-list {padding: 0px 10px;}
	.featured-list:before { height: 120px;}
.featured-list .add-image {
    width: 80px;
    height: 80px;
}
.text-box {padding: 0px;}
    .overlay-box {
        top: 4%;
        left: 10px;
    }

    .overlay-box-rgt {
        left: inherit;
        right: 10px;
    }

    .overlay-box h4 {
        font-size: 18px;
        line-height: 26px;
    }

    .overlay-box h3 {
        font-size: 35px;
        margin-bottom: 25px;
    }

    .overlay-box p.btn-txt {
        padding: 6px 25px;
    }

    .add-section .add-image {
        margin-bottom: 10px;
    }

    .product-slider-section {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .product-slider-section .pro-listing ul li {
        width: 50%;
        float: left;
        padding: 0px;
    }

    .pro-listing .product-grid8 .add-to-cart-btn {
        padding: 8px 10px;
        font-size: 12px;
    }

    .pro-listing .product-grid8 .title {
        font-size: 16px;
        line-height: 20px;
    }
    .product-grid8 .sizechart{ font-size: 12px; font-weight: 500;}
    .product-grid8 .price {
        font-size: 14px;
    }

    .product-grid8 .price span {
        font-size: 12px;
    }

    .product-grid8 .price span > i {
        font-size: 12px;
    }

    .product-grid8 .price > i {
        font-size: 14px;
    }

    .subscribe-wrap .widget {
        text-align: center;
    }

    .subscribe-wrap .widget p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    footer {
        text-align: center;
    }

    footer .footer-links ul {
        float: none;
        width: 100%;
    }
.fotr-logo{    width: 100px; margin: auto;}
footer .widget img {margin-bottom: 5px;}
.services-box { padding: 6px; margin: 0px 0px 30px;}
.srvs-item { text-align: left;}
.srvs-icon {width: 30px;}
.srvs-icon img{width: 100%;}
.srvs-item h5 {font-size: 11px;}
.srvs-item p {font-size: 10px;line-height: 16px;}
    footer .widget {
        margin-bottom: 30px;
    }
.footer-section input[type=text] {margin: 9px 0px 0px;}
    .foter-mdia .media-body,
    .foter-mdia .media-left,
    .foter-mdia .media-right {
        display: inline;
    }

    .copyright-section {
        margin-top: 0px;
		    padding-top: 10px;
    padding-bottom: 10px;
    }

    .copyright-section .text-rgt {
        text-align: center;
    }

    footer .copyright {
        margin: 0px;
        /*padding-top: 10px;*/
    }

    footer .widget h6 {font-size: 16px;
        margin-bottom: 10px;
    }
    footer .footer-links ul li a{font-size: 13px;}
    footer .widget p{font-size: 13px;}
	
    /*========== product details ================*/
    .size span a {
        margin-bottom: 10px;
    }

    .sizechart-model .modal-dialog {
        width: 95%;
    }

    .quickview-model .modal-dialog {
        width: 95%;
    }

    .details {
        /*padding: 0 0 0 15px;*/
    }

    .about-spfc-section .tab-content p {
        text-align: justify;
    }

    .quickview-model .quick-view-content {
        margin-top: 20px;
    }

    .productdetails-section {
        padding: 100px 0 50px 0;
    }
.rating-img {width: 60px;margin-right: 5px;height: 60px;}
.fs24 {font-size: 18px;}
    /*=========== dashboard ============*/
    .pro-listing ul li { padding-left: 5px;padding-right: 5px;}
    .pro-listing ul li:nth-child(3n+1){clear: inherit;}
    .pro-listing ul li:nth-child(2n+1){clear: both;}
    .filter h6 i {display:block;}
    #mobile-show {
        display: none;
    }

    #account-btn {
        display: block;
        font-size: 18px;
    }

    .dashbord-section .dashbordtxt .shippingboy {
        padding: 15px 0px 10px;
        text-align: left;
    }

    .coupan-box .offer-box {
        width: 70px;
        height: 70px;
        padding-top: 15px;
        margin: 8px 10px 0px 0px;
    }

    .theader {
        display: none;
    }

    .table_row {
        border-bottom: solid 1px #eaedef;
        display: table;
        width: 100%;
        border-collapse: separate;
        padding-bottom: 20px;
    }

    .table_small {
        display: table-row;
        border: solid 1px #333;
    }

    .table_row > .table_small > .table_cell:nth-child(odd) {
        display: table-cell;
        width: 25%;
        padding-left: 5px;
    }

    .table_row > .table_small > .table_cell {
        padding: 10px 10px;
    }

    .shopping-carts .btn-continue {
        margin-left: 0px !important;
        padding: 10px 10px 8px;
        font-size: 11px;
        margin-top: 0;
    }

    .shopping-carts .btn-update {
        padding: 10px 10px 8px;
        font-size: 11px;
    }

    .shopping-carts .form-cart button.btn-update {
        margin-bottom: 20px;
    }

    .product-name {
        float: none;
        margin: 10px 0 0 0;
    }
	/*===================== refer_and_earn =======================*/
	.copycut {padding: 0px;}
	.referral-code {padding: 8px 15px;}
	.copycut p{font-size:13px;}
/*=========== Cart ===========*/
.title-shopping-cart {font-size: 16px;}
.shopping-carts .order-left {font-size: 12px;}
.totalmainbox .order-left {font-size: 17px;}
.button, .button1 { padding: 8px;font-size: 12px;}
.shopping-cart .shopping-cart-items .item-quantity { font-size: 12px;}
    /*===========track order ===========*/
    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-done {
        width: 47%;
    }

    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-todo {
        width: 47%;
    }

    /*============ login and registion ===========*/
	.form-box-width {width: 100%;}
    .registrform { padding: 10px;    border: 10px solid #fff;}
	.login-white-box { padding: 15px;}
	.registrform h6 { font-size: 20px;}
	.registrform label {font-size: 12px;}
	.registrform.loginpage .form-icon, .registrform.forgetpassword .form-icon {bottom: 13px;}
	.registrform .form-control {height: 42px;}
	.registrbtn {line-height: 23px;height: 42px;}
	.registrform p {font-size: 12px;line-height: 20px;}
.welbcom.forgetpassword {border-top: none;}
    /*============ inner page ====================*/
    .offer-section{padding: 30px 0px;}
    .title-bg{font-size: 17px;}
    .about-img-center{ margin: 0px auto 20px;}
    .offer-dec p{text-align: justify;font-size: 14px;}
    .about-section .about-txt p {
        text-align: justify;
    }
    .register-section{padding: 30px 0px;}
    .contactinfo{padding: 25px 15px;}
    .mainbox{padding: 0px;}
    .contactinfo .iconbox{padding-right: 8px;}
    .contactinfo .iconbox i{  font-size: 16px;
        height: 30px;
        width: 30px;
        line-height: 20px;}
    .contactinfo .icontext h5{font-size: 12px;}
    .contactinfo .icontext h4{font-size: 14px;}
    .contactinfo h6{font-size: 17px;}
    .contactform{margin-top: 40px;padding: 0px;}
    .terms-conditions p {
        text-align: justify;
    }

    .reviewscomment-section .reviewstxt p {
        text-align: justify;
    }

    .pro-listing .product-grid8 .product-image8 {
        min-height: 150px;
        max-height: 150px;
    }

    .tabs-details .reviewlist img {
        width: 50px;
        height: 50px;
    }

    .customizeprdt h6 {
        font-size: 20px;
        line-height: 26px;
    }

    .customisedSize ul {
        width: 100%;
    }

    .customizeprdt .mainbox:last-child {
        border-bottom: solid 2px #ccc;
        margin-bottom: 20px;
    }

    .detail-gallery {
        padding: 0 0 0 70px !important;
        /*overflow: hidden;*/
    }

    .gallery-control {
        width: 60px !important;
        padding: 5px 5px 0;
    }
    .control-button-gallery .prevMe{
        top:-5px;
    }
    .control-button-gallery .nextMe{
        bottom:-10px;
    }
    .carousel ul li img {
        height: 55px !important;
    }

    .control-button-gallery .prevMe,
    .control-button-gallery .nextMe {
        width: auto !important;
        height: auto !important;
    }

    .zoomContainer {
        display: none;
    }

    #img_zoom {
        /*pointer-events: none;*/
    }

    .inner-section .inner-banner i {
        padding: 0 0px 0 4px;
    }

    header .navbar-inverse .navbar-brand {
        position: absolute;
        top: 0;
        left: 40px;}
.owl-nav {top: -18px;right: 18px;}
    .inner-section {display: none;}

    .navbar-inverse .navbar-toggle {
        position: absolute;
        left: 5px;
        top: 0px;
        margin-bottom: 0;
        margin-top: 8px;
        
    }

    header .navbar {    background: none;min-height: 50px;    border-top: none;}

    .searchbox {
        position: relative;
        min-width: 0px;
        width: 0%;
        float: right;
        overflow: hidden;
        z-index: 99;
        -webkit-transition: width 0.3s;
        -moz-transition: width 0.3s;
        -ms-transition: width 0.3s;
        -o-transition: width 0.3s;
        transition: width 0.3s;
		display:none;
    }

    ul.header-btns-list li.mobilesrch {
        display: block;
        height: 25px;
        border-radius: 50%;
        margin-top: 3px;
    }

    .searchbox-input {
        top: 0;
        right: 0;
        border: 0;
        outline: 0;
        background: #dcddd8;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0px 55px 0px 20px;
        font-size: 20px;
        color: red;
    }

    .searchbox-icon {
        cursor: pointer;
    }

    .searchbox-open {
        width: 100%;
		display:block;
    }

    .byline {
        position: absolute;
        top: 150px;
        left: 30%;
        text-align: center;
        font-size: 18px;
    }

    .btn-search img {
        height: 22px;
    }
    .btn-search.searchbox-icon img {
        height: 18px;
    }
    .register .signupbtn { padding: 10px 20px; display: block;width: 100%;}
   .productIncart{margin-bottom: 25px;}
    #display {
        top: 35px;
        display: none !important;
    }

    .affix .hdr-rt {
        margin-top: 10px;
    }
    .affix .header-container { display: block;}
    .affix .search-form4 {    top: 40px;}
.btn-search sup {right: 2px;}
    .helpfaq-section {
        padding: 0;
    }

    .helpfaq-section .panel-group {
        padding: 5px;
    }

    .helpfaq-section #accordion .panel-title a {
        padding: 12px 20px 12px 35px;
        font-size: 14px;
        line-height: 18px;
    }

    .helpfaq-section #accordion .panel-body p {
        margin: 5px 0px 10px 0;
        padding: 5px 5px 5px 9px;
        padding-left: 15px;
        line-height: 22px;
        font-size: 14px;
    }

    .helpfaq-section #accordion .panel-body {
        padding: 10px 15px 5px 9px;
    }

    .f__char-user {
        width: 20px;
        height: 20px;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        border: none;
        /*background: #e7e6e6;*/
    }

    header .navbar-inverse .navbar-nav > li:hover > a:before {
        display: none;
    }

    .mega-dropdown .mega-dropdown-menu li.col-sm-4 {
        padding: 0;
    }

    .mega-dropdown ul.mega-dropdown-menu .col-sm-9 {
        padding: 0;
    }

    .mega-dropdown-menu .dropdown-header a {
        padding: 0;
		font-size: 12px;
    line-height: 20px;
    }

    .mega-dropdown-menu li ul > li > a {
        padding: 6px 0;
    }

    .mega-dropdown .mega-dropdown-menu .col-sm-3 {
       
    }

    .header-btns-list li:nth-child(2) .btn-search {
        padding: 4px 0px 0px 0px;
    }

    #mobile-sort .sidebar-box .box-content .category-list {
        margin-bottom: 0px;
    }
	.dashbord-section .dashbordtxt {padding: 10px;}
	.orderstabs .nav-tabs > li a {padding: 6px 5px;font-size: 10px;}
	.orderstabs .nav-tabs > li.active > a:before {border: 1px solid #e00000;}
	.orderstabs .nav-tabs > li a i{display:none;}
	.wallet-header {padding: 20px;}
	.wallet-header h4 { font-size: 13px;}
	.price-btn {font-size: 30px;}
	.dashbord-section .dashbordtxt .form-control {height: 42px;}
	.dashbord-section .saveaddress {padding: 7px 30px;line-height: 20px;font-size: 13px;}


    
    
}

@media (max-width: 480px) {
    .cityselectbox{
        width: 120px;
        padding: 2px;
        height: 20px;
    }
    .reviewOrderBackResponse {
        min-height: auto;
    }

    .paymnetthod .checkbox label {
        text-align: left;
    }

    #myBtn {
        bottom: 40px;
        right: 5px;
    }

    .mob_fixed,
    .places_ord {
        position: fixed;
        bottom: 0;
        z-index: 99;
        width: 105%;
        padding: 5px 0;
        background: #fff;
        left: 0;
        right: 0;
        text-align: center;
    }
.mob_fixed .col-xs-12 { padding-right: 0px;}
    .dosim {
        display: block;
        font-size: 14px;
    }

    .deliveryadd {
        width: 100%;
    }

    .carttbl .table_small .product-name {
        width: 100%;
        line-height: 1;
        float: none;
    }

    .addcartbox {
        margin: 15px 0 0 0;
        position: fixed;
        bottom: 0;
        z-index: 9;
        background: #fff;
        width: 100%;
        padding: 10px 0;
        text-align: center;
        left: 0;
    }

    .thankyou-section .thankyou-txt {
        width: auto !important;
    }
.header-container{text-align:center;}
.header-container .text-right { text-align: center;}
    .top-menu li {
        margin: 0;
        padding: 0;
    }

    .top-bar .top-menu li a {
        font-size: 12px;
        padding: 1px 2px;
        display: block;
    }

    .checkout-section .cartimg {
        width: 15%;
    }

    .paymnetthodBox img {
        display: none;
    }

    .checkout-section .cartdelivery {
        margin-top: 0;
        display: inline-block;
        text-align: left;
    }

    .affix .navbar-inverse .navbar-nav > li > a {
        padding: 7px 10px;
    }

    header .navbar-inverse {
        padding-bottom: 0px;
    }

    header .navbar-inverse .navbar-brand {
        padding: 5px 0px;
    }

    .affix .navbar-inverse .navbar-brand {
        padding: 4px 0px;
    }

    .affix ul.header-btns-list li {
        margin: 0px;
    }
    .affix ul.header-btns-list li.mobilesrch {
        margin-top: 3px;
    }
    header .navbar-inverse .navbar-nav > li > a .caret {
        float: right;
    }

    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu > li > a {
        padding: 5px 0;
    }

    header .navbar-nav > li > .dropdown-menu {
        padding-top: 0px;
        max-height: initial;
        overflow-x: auto;
		height: auto;
    padding-bottom: 0px;
		
    }

    .mega-dropdown-menu > li {
        width: 50%;
        float: left;
    }

    .shopping-cart {
        width: 295px;
    }

    .navbar-header {
        margin-top: 50px;
    }

    .navbar-brand > img {
        width: 85px;
    }

    .text-rgt {
        text-align: initial;
    }

    .top-bar .top-menu {
        /*text-align: center;*/
    }

    .search-form4 {
        /*margin-top: 0px;
        width: 88%;
        float: left;
        position: absolute;
        left: 0;
        top: 0px;*/
    }

    .hdr-rt {
        margin-top: 9px;
        /*width: 88%;*/
        margin-left: 0px;
        margin-bottom: 2px;
        position: absolute;
        right: 10px;
        top: 0px;
    }
    .hdr-rt.search-center{right: 115px;z-index: 12;/*width: 68%;*/}
    ul.header-btns-list {
        float: right;
    }

    ul.header-btns-list li {
        margin: 0px;
    }

    .slider .carousel-control.left,
    .carousel-control.right {
        display: none;
    }

    .btn-search {
        padding: 4px 4px;
    }

    .search-form4 .smart-search-form input[type="text"] {
        padding: 0 8px;
        font-size: 12px;
        height: 35px;
        border-bottom: solid 1px #ccc !important;
        border-radius: 0;
        border: none;
        background: #fff;
        color: #333;
    }
    .search-form4 .smart-search-form input[type="text"]::placeholder{ color: #000; }
    .search-form4 .smart-search-form button {
        padding: 8px;
        height: 34px;
        font-size: 16px;
        z-index: 9;
    }

    .search-form4 .smart-search-form button i {
       
    }

    .featured-list li {
        width: 50%;
    }

    .featured-list li .add-image {
        width: 135px;
        height: 135px;
    }

    .text-box h4 {    font-weight: 500;
        font-size: 11px;
    }
.product-grid8 .title {font-size: 14px;}
    .product-slider-section .pro-listing ul li {
        width: 50%;
        float: left;
        padding: 0px;
    }

    .pro-listing .product-grid8 .add-to-cart-btn {
        padding: 5px 4px 5px;
        font-size: 11px;
    }

    .pro-listing .product-grid8 .title {
        font-size: 12px;
        line-height: 16px;
    }

    .add-section {
        padding: 20px 0 20px 0;
    }

    .featured-list li .add-image {
        margin: 0px auto;
    }

    .slide-heading {
        margin-top: 15px;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    .slide-heading h2 {
        font-size: 22px;
        line-height: initial;
    }

    .overlay-box {
        top: 4%;
        left: 10px;
    }

    .overlay-box-rgt {
        left: inherit;
        right: 10px;
    }

    .overlay-box h4 {
        font-size: 18px;
        line-height: 26px;
    }

    .overlay-box h3 {
        font-size: 29px;
        margin-bottom: 25px;
    }

    .overlay-box p.btn-txt {
        padding: 6px 25px;
    }

    .add-section .add-image {
        margin-bottom: 10px;
    }

    .hot-ovelay2 h5 {
        font-size: 20px;
    }

    .hot-ovelay2 p {
        font-size: 18px;
    }

    .hot-ovelay2 .btn-txt {
        margin-top: 55px;
    }

    .product-slider-section {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    footer {
        padding: 30px 0px 0px 0px;
        text-align: center;
    }

    footer .widget {
        margin-bottom: 20px;
    }

    .copyright-section {
        margin-top: 0px;
    }

    footer .widget h6 {
        margin-bottom: 10px;
    }

    .copyright-section .text-rgt {
        text-align: center;
    }

    /*========== product details ================*/
    .size span a {
        margin-bottom: 10px;
    }

    .sizechart-model .modal-dialog {
        width: 95%;
    }

    .quickview-model .modal-dialog {
        width: 95%;
    }

    .details {
        /*padding: 0 0 0 15px;*/
    }

    .addcartbox .add-to-cart,
    .like {
        padding: 7px 16px 5px;
        font-size: 12px;
    }

    .addcartbox .bynow,
    .like {
        padding: 7px 16px 5px;
        font-size: 12px;
    }

    .about-spfc-section .tabs-details .nav-tabs > li {
        /*width: 100%;*/
        text-align: center;
    }

    .whitebox {
        padding: 10px 0 0px;
        margin-bottom: 20px;
    }

    .about-spfc-section .tab-content p {
        text-align: justify;
    }

    .quickview-model .quick-view-content {
        margin-top: 20px;
    }

    .productdetails-section {
        padding: 20px 0 20px 0;
    }
    .quickview-model .quick-view-content .btn{    padding: 5px 12px;
    font-size: 11px;}
    .quickview-model .modal-body{padding: 20px;}
    .about-spfc-section .review .review-form-hdr .fs20{font-size: 14px;}
    /*=========== dashboard ============*/
    .sidebar-wrapper {
        margin-top: 0;
    }

    .sidebar__inner .filter h6 {
        padding: 0;
        font-size: 16px;
    }

    .sidebar__inner .filter h6 i {
        
    }

    #mobile-show,
    #mobile-sort {
        display: none;
    }

    #account-btn {
        display: block;
        
    }

    #sortt-btn {
        display: block;
    }
    #account-btn i:before{ margin-left: 10px;  }
    .filter h6 i::before{/*width: 8px; height: 20px; margin-top: -3px; */}
    #sortt-btn i::before{ right: 10px; }
    .dashbord-section .dashbordtxt .shippingboy {
        padding: 15px 0px 10px;
        text-align: left;
    }

    .coupan-box .offer-box {
        width: 70px;
        height: 70px;
        padding-top: 15px;
        margin: 8px 10px 0px 0px;
    }

    .theader {
        display: none;
    }

    .table_row {
        border-bottom: solid 1px #eaedef;
        display: table;
        width: 100%;
        border-collapse: separate;
        padding-bottom: 20px;
    }

    .table_small {
        display: table-row;
        border: solid 1px #333;
    }

    .table_row > .table_small > .table_cell:nth-child(odd) {
        display: table-cell;
        width: 35%;
        padding-left: 5px;
        vertical-align: top;
        font-size: 12px;
    }

    .table_row > .table_small > .table_cell {
        padding: 5px 10px;
    }
.orderstabs .nav-tabs > li a {padding: 6px 3px;font-size: 9px;}
    .dashbord-section .dashbordtxt ul li {
       
    }

    .shopping-carts .form-cart .btn-continue {
        margin-left: 10px;
    }

    .shopping-carts .form-cart button.btn-update {
        margin-bottom: 20px;
    }

    .product-name {
        float: none;
        margin: 10px 0 0 0;
    }

    .checkout-section .ordersummery {
        margin-top: 15px;
    }

    /*===========track order ===========*/
    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-done {
        width: 49%;
        font-size: 12px;
        margin-bottom: 15px;
    }

    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-todo {
        width: 49%;
        font-size: 12px;
    }

    .track-order-section .track-orderbox ol.progtrckr li.progtrckr-todo:before {
        bottom: -18px;
    }

    /*============ login and registion ===========*/
    .registrform {}
    .registrform .paymnetthod .checkbox label{font-size: 13px;}
    .registrbtn{font-size: 14px;}
    /*============ inner page ====================*/
    .about-section .about-txt p {
        text-align: justify;
    }

    .terms-conditions p {
        text-align: justify;
    }

    .reviewscomment-section .reviewstxt p {
        text-align: justify;
    }

    .sale-box {
        width: 35px;
        height: 35px;
    }
    .product-grid8 ul.social li{width: 100%;}
    .sale-box span {
        font-size: 10px;
        margin-top: 7px;
        width: auto;
        height: auto;
        padding: 0;
    }
    .sale-box span em{ font-size: 10px; }
    .welbcom {
        padding: 25px 10px;
    }
 .registrform .form-group a {font-size: 11px;font-weight: 600;}
    .catalog-view_op1 .product-media .images-small a {
        /*height: 50px;*/
    }

    .catalog-view_op1 .product-media .images-small {
        padding: 5px 5px;
        width: 30px;
        max-height: 340px;
    }

    .catalog-view_op1 .product-media .images-large {
        height: 340px;
    }

    .sidebar-box .box-title {
        padding: 10px 0 10px;
    }

    .table_row > .table_small > .table_cell a img {
        width: 75px;
    }

    .product-grid8 .social li {
        margin: 0 0 5px;
    }

    .product-grid8 .social li a {
        line-height: 20px;
        height: 20px;
        width: 20px;
        padding: 4px 0 0 0;
        font-size: 10px;
    }

    .mr-btm-40 {
        margin: 15px 0 0px 0px;
    }

    #filterResponseData {
        padding: 0px 0 20px;
    }

    .btn-search sup {
        height: 15px;
        width: 15px;
        font-size: 10px !important;
        padding-top: 3px !important;
    }
ul.header-btns-list li #cart {
    margin-right: 2px;
}
    .sale-box {
        top: 5px;
        right: 5px;
    }

    .register .login-socialmedia a {
        padding: 13px 15px;font-size: 13px;
    }
    .form-group .alert ul li{font-size: 13px;}



/***************Time range slider**************/

#time-range p {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #333;
}

.ui-slider-horizontal {
    height: 5px;
    background: #e3e3e3;
    clear: both;
    margin: 5px 0;
    border-radius: 16px;
}

.ui-slider {
    position: relative;
    text-align: left;
}

.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}

.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 5px;
    font-size: .7em;
    display: block;
    border-radius: 6px;
}

.ui-slider .ui-slider-handle {
    border-radius: 2px;
    top: -5px;
    width: 12px;
    height: 12px;
    border: 1px solid #b7b6b6a3;
    background: #cecece;
    position: absolute;
    z-index: 2;
    cursor: default;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.5em;
}

.ui-slider a:focus {
    outline: none;
}

#slider-range {
    width: 100%;
    margin: 0 auto;
}
.dashbordtxt .track-order-section .track-orderbox ol.progtrckr li{font-size: 9px;}
#time-range {}

}
@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.logo img {width: 110px;}
    ul.header-btns-list li.sell {margin-left: 30px;}
     ul.header-btns-list li.sell a { font-size: 12px;
    padding: 8px 12px;}
	ul.header-btns-list li .btn-search{padding:8px 8px;}
    ul.header-btns-list li .btn-search span {font-size: 10px;}
	
    header .navbar-inverse .navbar-nav > li > a {
        padding: 16px 15px 0px 9px;
    }

    header .navbar-inverse .navbar-nav > li > a {
        font-size: 11px;
    }

    ul.header-btns-list li {
        margin: 0px 2px 0px 0px;
    }

    .search-form4 {
        width: 215px;
    }

    .affix .navbar-inverse .navbar-nav > li > a {
        padding: 12px 10px;font-size: 11px;
    }

    .pro-listing .product-grid8 .title {
        font-size: 13px;
    }
    .product-grid8 .price{font-size: 16px;}
    .product-grid8 .price span{font-size: 12px;}
    .product-grid8 .price span > i{font-size: 12px;}
    .sizechart{font-size: 14px;}
    .catalog-view_op1 .product-media .images-small {
        width: 60px;
        max-height: 440px;
    }

    .table_row > .table_small > .table_cell a img {
        width: 30px;
    }

    .carttbl .table_small .product-name {
        width: 75%;
    }

    .buttons_added {
        text-align: center;
    }

    .shopping-carts .buttons_added .plus {
        float: inherit;
        margin-right: inherit;
        width: 10px;
    }
.btn-update { padding: 15px 10px 13px;font-size: 11px;}
    .btn-continue { padding: 15px 10px 13px;font-size: 11px;}
    .productIncart{margin-bottom: 25px;}
    .buttons_added input {
        width: 15px;
        float: inherit;
        text-align: center;
        margin: 7px 0 5px;
    }

    .shopping-carts .buttons_added .minus {
        float: inherit;
    }

    .customisedSize ul {
        width: 65%;
    }
    footer .widget h6{font-size: 14px;}
    footer .footer-links ul li a{font-size: 13px;}
    footer .widget p{font-size: 13px;line-height: 22px;}
	.add-image {height: 200px;}
	.advertise-dec { padding: 20px;}
	.advertise-dec h4 {font-size: 18px;}
	.advertise-dec h2 {font-size: 30px; line-height: inherit;}
	.advertise-dec h3 {font-size: 30px; line-height: inherit;}
	.advertise-dec h6, .advertise-dec p {font-size: 15px;margin-bottom: 14px;}
	.fotr-logo{width:120px;}
	footer .onlineicon img{width:40px;}
	.services-box {padding: 10px;}
	.srvs-icon {width: 34px;}
	.srvs-icon img{width: 100%;}
	.srvs-item h5 {font-size: 12px;}
	.srvs-item p {font-size: 9px; line-height: 15px;}
	
	/*===================== login =======================*/
	.form-box-width {width: 100%;}
	.registrform {border: 20px solid #fff;}
	.login-white-box {padding: 25px;}
	.registrform h6 {font-size: 24px;}
	.registrform label { font-size: 12px;}
}

.sortingfilter select{ width: 110px; }
