<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="author" content="">
    <!-- CSRF Token -->
    <meta name="csrf-token" content="FHW2xqBT0UWjdbZzubDnpk1EtAi4ZjgQchUVMNZI">
  
    <title>Home</title> 
		<link rel="icon" href="http://www.aptechbangalore.com/test/public/images/logo.png">
	<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/assets/vendor_components/bootstrap/dist/css/bootstrap.css">
	
	<!-- Bootstrap extend-->
	<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/css/bootstrap-extend.css">
	
	<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/assets/vendor_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">

	<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/assets/vendor_plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/css/rateit.css"> 
	<!-- theme style -->
	<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/css/master_style.css">
	
	<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/css/master_style_new.css">
	<!-- horizontal menu style -->
	<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/css/horizontal_menu_style.css">
	
	<!-- Fab Admin skins -->
	<link rel="stylesheet" href=" http://www.aptechbangalore.com/test/public/css/skins/_all-skins.css">
	
	<!-- Morris charts -->
	<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/assets/vendor_components/morris.js/morris.css">
		<link rel="stylesheet" href="http://www.aptechbangalore.com/test/public/css/vrp.css">
	<style>
	@import  url(http://www.aptechbangalore.com/test/public/assets/vendor_components/font-awesome/css/font-awesome.css);
	@import  url(http://www.aptechbangalore.com/test/public/assets/vendor_components/Ionicons/css/ionicons.css);
	@import  url(http://www.aptechbangalore.com/test/public/assets/vendor_components/themify-icons/themify-icons.css);
	@import  url(http://www.aptechbangalore.com/test/public/assets/vendor_components/linea-icons/linea.css);
	@import  url(http://www.aptechbangalore.com/test/public/assets/vendor_components/glyphicons/glyphicon.css);
	@import  url(http://www.aptechbangalore.com/test/public/assets/vendor_components/flag-icon/css/flag-icon.css);
	@import  url(http://www.aptechbangalore.com/test/public/assets/vendor_components/material-design-iconic-font/css/materialdesignicons.css);
	@import  url(http://www.aptechbangalore.com/test/public/assets/vendor_components/simple-line-icons-master/css/simple-line-icons.css);
	</style>
  
</head>
<body class="hold-transition skin-purple-light layout-top-nav">
<div class="wrapper">
	<header class="main-header">
	<div class="inside-header">
		<!-- Logo -->
                            <a href="http://www.aptechbangalore.com/test/admin/dashboard" class="logo">
            		  <!-- mini logo for sidebar mini 50x50 pixels -->
		  <b class="logo-mini">
			  <span class="light-logo"><img src=" http://www.aptechbangalore.com/test/public/images/logo.png" alt="logo"></span>
			  <span class="dark-logo"><img src="http://www.aptechbangalore.com/test/public/images/logo.png" alt="logo"></span>
		  </b>
		  <!-- logo for regular state and mobile devices -->
		  <span class="logo-lg">
			  <img src="http://www.aptechbangalore.com/test/public/images/logo.png" alt="logo" class="light-logo">
			  <img src="http://www.aptechbangalore.com/test/public/images/logo.png" alt="logo" class="dark-logo">
		  </span>
		</a>
		<!-- Header Navbar -->
		<nav class="navbar navbar-static-top">
		  <!-- Sidebar toggle button-->
		  <a href="#" class="sidebar-toggle d-block d-lg-none" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
		  </a>

		  <ul class="navbar-nav mr-auto mt-md-0">		
			<!-- .Megamenu -->
			
			<!-- /.Megamenu -->
		</ul>	

		  <div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
  
			
			  <!-- User Account -->
			  <li class="dropdown user user-menu">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
				     				     <img src=" http://www.aptechbangalore.com/test/public/images/user5-128x128.jpg" class="user-image rounded-circle" alt="User Image">
				     				  
				</a>
				<ul class="dropdown-menu scale-up">
				  <!-- User image -->
				  <li class="user-header">
									     <img src=" http://www.aptechbangalore.com/test/public/images/user5-128x128.jpg" class="user-image rounded-circle" alt="User Image">
				     
					<p>
					   
					  <small class="mb-5"></small>
					   <!-- <a href="#" class="btn btn-danger btn-sm btn-rounded">View Profile</a>-->
					</p>
				  </li>
				  <!-- Menu Body -->
				 
				  <li class="user-body">
				  
				
					
					  <div class="col-12 text-left">
					      
					      						<a href="http://www.aptechbangalore.com/test/logout"
                                       onclick="event.preventDefault();
                                                     document.getElementById('logout-form').submit();"><i class="fa fa-power-off"></i> Logout</a>
                                <a href="http://www.aptechbangalore.com/test/admin/changePassword"
                                ><i class="fa fa-power-off"></i> Chnage Password</a>
						
						 <form id="logout-form" action="http://www.aptechbangalore.com/test/logout" method="POST" style="display: none;">
                                        <input type="hidden" name="_token" value="FHW2xqBT0UWjdbZzubDnpk1EtAi4ZjgQchUVMNZI">                                    </form>
					  </div>				
					</div>
					<!-- /.row -->
				  </li>
				</ul>
			  </li>
			  <!-- Control Sidebar Toggle
			  <li>
				<a href="#" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></a>
			  </li> Button -->
			</ul>
		  </div>
		</nav>	
	</div>
  </header>
  <style>
  .loader{
	  display:none;
  }
  </style>
	<div class="main-nav">  	
	  <nav class="navbar navbar-expand-lg">
		  <div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
			    
			  			  
			  <li class="nav-item">
				<a class="nav-link" href="http://www.aptechbangalore.com/test/admin/dashboard"><i class="fa fa-dashboard mr-5"></i> <span>Dashboard</span></a>
			  </li>
			  
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-th mr-5"></i> <span>Master</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/home_slider">Banner</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/cat">Categories</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/brands">Brands</a></li>
						
						<li class="nav-item dropdown"><a class="nav-link dropdown-item dropdown-toggle" href="#">Products</a>
					<ul class="dropdown-menu">
					  <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/products">Products Listing</a></li>
					  <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/imageUploads">Image upload</a></li>
					  <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/offer_slider/MA==">Product Slider</a></li>
					  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle nav-link" href="#">Attributes</a>
						<ul class="dropdown-menu">
						   <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/colors">Colors</a></li>
						   <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/sizes">Sizes</a></li>
						   <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/materials">Materials</a></li>
						   <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/filters">Filters</a></li>
						     <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/productSetting">Product Setting</a></li>
						</ul>
					  </li>
					  
					  
           			</ul>
				  </li>
				  <li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/coupons/MA==">Coupon Management</a></li>
				  <li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/rating_review">Product Rating & Reviews</a></li>
				  <li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/offers">Offer Zone Assign Categories</a></li>
				     				  
				</ul>				  
			  </li>
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-th mr-5"></i> <span>Order Master</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
						<!--<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/orders/MA==">Orders</a></li>-->
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/sorders/MA==">Orders</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/shipping_charges">Shipping Charges</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/reasons">Return/Cancel Reasons</a></li>
				</ul>				  
			  </li>	
			  
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-th mr-5"></i> <span>Report</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/ledger">Ledger</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/reports/MA==">Highest Selling Product </a></li>			
					<!--<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/advertise">Best selling combo </a></li>-->
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/reports/MQ==">Location wise Products Selling </a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/reports/Mg==">Refund or Replaced Orders</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/reports/Mw==">Best Vendors</a></li>
				</ul>				  
			  </li>	
			  
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-th mr-5"></i> <span>Customer Master</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/customers">Customers</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/subscribers">Subscribers </a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/customers_pay">Customers Payment</a></li>
						
				</ul>				  
			  </li>	
			  
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-th mr-5"></i> <span>Vendor Master</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/vendors">Vendors</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/logistics">Logistics</a></li>
						<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/vendor_pincode ">Vendor Pincode</a></li>
						
				</ul>				  
			  </li>	
			  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="fa fa-th mr-5"></i> <span>Manage</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
					<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/blogs">Blog</a></li>
					<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/testimonials">Testimonial</a></li>
					<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/advertise">Advertisement</a></li>
					<li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/whatsmore">What's More</a></li>
						
				</ul>				  
			  </li>	
			   <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <span>Utility</span>
				</a>				  
				<ul class="dropdown-menu multilevel scale-up-left">
				    <li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/permissions">Permissions</a></li>
				    <li class="nav-item"><a class="nav-link" href="http://www.aptechbangalore.com/test/admin/users_role">Users Role</a></li>
					
					<li class="nav-item dropdown"><a class="nav-link dropdown-item dropdown-toggle" href="#">Manage Site </a>
					<ul class="dropdown-menu">
					  <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/pages">Static Pages</a></li>
					  <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/store_info">Store info</a></li>
					  <li><a class="dropdown-item nav-link" href="http://www.aptechbangalore.com/test/admin/faqs">Faqs</a></li>
					    
					  
           			</ul>
				  </li>
                    
				</ul>				  
			  </li>	
			  
			  			
			  		  
			</ul>
		  </div>
		</nav>	  
  </div>	<script src=" http://www.aptechbangalore.com/test/public/assets/vendor_components/jquery-3.3.1/jquery-3.3.1.js"></script>
	
	<!-- jQuery UI 1.11.4 -->
	<script src="http://www.aptechbangalore.com/test/public/assets/vendor_components/jquery-ui/jquery-ui.js"></script>
	
	<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
	<script>
	  $.widget.bridge('uibutton', $.ui.button);
	</script>
	
	<!-- popper -->
	<script src=" http://www.aptechbangalore.com/test/public/assets/vendor_components/popper/dist/popper.min.js"></script>
	
	<!-- Bootstrap 4.0-->
	<script src="http://www.aptechbangalore.com/test/public/assets/vendor_components/bootstrap/dist/js/bootstrap.js"></script>
	
	<!-- Slimscroll -->
	<script src="http://www.aptechbangalore.com/test/public/assets/vendor_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
	

	<script src="http://www.aptechbangalore.com/test/public/assets/vendor_components/jquery-slimscroll/jquery.slimscroll.js"></script>
	
	<!-- FastClick -->
	<script src=" http://www.aptechbangalore.com/test/public/assets/vendor_components/fastclick/lib/fastclick.js"></script>
	
	<!-- Morris.js charts -->
	<script src=" http://www.aptechbangalore.com/test/public/assets/vendor_components/raphael/raphael.min.js"></script>
	<script src=" http://www.aptechbangalore.com/test/public/assets/vendor_components/morris.js/morris.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
	
	<!-- Fab Admin App -->
	<script src=" http://www.aptechbangalore.com/test/public/js/template.js"></script>
	
	<!-- Fab Admin dashboard demo (This is only for demo purposes) -->
	<script src=" http://www.aptechbangalore.com/test/public/js/pages/dashboard.js"></script>
	
	<!-- Fab Admin for demo purposes -->
	<script src=" http://www.aptechbangalore.com/test/public/js/demo.js"></"></script>	
	
	<!-- Fab admin horizontal-layout -->
	<script src=" http://www.aptechbangalore.com/test/public/js/horizontal-layout.js"></script>
	
	 <script src=" http://www.aptechbangalore.com/test/public/assets/vendor_components/datatable/datatables.min.js"></script>
	
	<!-- Fab Admin for Data Table -->
	<script src=" http://www.aptechbangalore.com/test/public/js/pages/data-table.js"></script>
	<script src=" http://www.aptechbangalore.com/test/public/js/pages/advanced-form-element.js"></script>
	
	<script src="http://www.aptechbangalore.com/test/public/assets/vendor_components/ckeditor/ckeditor.js"></script>

	
	<!-- Fab Admin for editor -->
	<script src=" http://www.aptechbangalore.com/test/public/js/pages/editor.js"></script>

	<script src="http://www.aptechbangalore.com/test/public/js/jquery.rateit.min.js"></script>
	<script>
	console.log("hello");
	$(document).ready(function() {
		
		$('#search').on('keyup',function(){
		$value=$(this).val();
		$.ajax({
		type : 'get',
		url : 'http://www.aptechbangalore.com/test/admin/search',
		data:{'search':$value},
		success:function(data){
			var myObj = JSON.parse(data);
			$('.tbody').html(myObj.data);
		
		}
		});
		});
		
     
	 setTimeout(function(){
 $(".alert_message").hide();
  $(".alert").hide();
		 }, 3000);
		 
		 
		$.ajaxSetup({
		headers: {
		'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
		}
		});
		
		
		$(document).on('click','.disableAfterCick', function () {
			
	});

});

$(document).on('keyup','.cat_url', function () {
	
		if (this.value.match(/[^a-zA-Z0-9\-]/g)) {
			var value = this.value.replace(/[^a-zA-Z0-9 \-]/g, '');
			  this.value=value.replace(/\s+/g, '-');
			
			
		}
	});
	
	
	$(document).on('click','.resetModalForm', function () {
	 $(".resetAbleForm").trigger("reset");
	});
	
	$(document).on('click','.showcat', function () {
		$(this).parent().parent().parent().children( ".element" ).show();
		$(this).parent().html('<i class="fa fa-plus pointer hidecat" aria-hidden="true"></i>');
	 
	});
	
	$(document).on('click','.ext_product_button', function () {
					$("#myModal").hide('hide');
	});
	
	$(document).on('click','.disableAfterClick', function () {
		
	 
	});
	
	
	$(document).on('change','.offerType', function () {
		 switch(this.value) {
            case '0':
                $(".brandClass").val('');
            $('.brandSelection').hide();
            $('.categorySelection').show();
            break;
            
            case '1':
                $(".catClass").val('');
                $('.brandSelection').show();
                $('.categorySelection').hide();
            break;
        
        }
  
});

$(document).on('change','.CouponAssignType', function () {

		 switch(this.value) {
            case '1':
                    
                    $('.categoryBox').show();
                    $('.brandSelection').hide();
                    $('.productSelection').hide();
				  break;
            case '2':
                $(".catClass").val('');
				$(".productSelection").val('');
                $('.brandSelection').show();
                $('.categoryBox').hide();
				$('.productSelection').hide();
            break;
			case '3':
                $(".catClass").val('');
				$(".brandClass").val('');
				$('.productSelection').show();
                $('.brandSelection').hide();
                $('.categoryBox').hide();
            break;
        
        }
  
});

		$(document).on('change','.couponType', function () {
	
		    
        switch(this.value) {
            case '0':
                    $(".coupon_cart").hide(); 
                    $(".coupon_dt").hide(); 
                    $(".coupon_number").hide(); 
            break;
            
            case '1':
                    $(".coupon_cart").show(); 
                    $(".coupon_dt").hide(); 
                    $(".coupon_number").hide(); 
            break;
            
            case '2':
                        $(".coupon_cart").hide(); 
                        $(".coupon_dt").show(); 
                        $(".coupon_number").hide(); 
            break;
            
            case '3':
                        $(".coupon_cart").show(); 
                        $(".coupon_dt").show(); 
                        $(".coupon_number").hide(); 
            break;
            
             case '4':
                    $(".coupon_cart").hide(); 
                    $(".coupon_dt").hide(); 
                    $(".coupon_number").show(); 
            break;
            
            case '5':
                    $(".coupon_cart").show(); 
                    $(".coupon_dt").hide(); 
                    $(".coupon_number").show(); 
            break;
            
            case '6':
                    $(".coupon_cart").hide(); 
                    $(".coupon_dt").show(); 
                    $(".coupon_number").show(); 
            break;
            
            case '7':
                    $(".coupon_cart").show(); 
                    $(".coupon_dt").show(); 
                    $(".coupon_number").show(); 
            break;
        }
        
    
  
   
});
	$(document).on('click','.show_hide', function () {
	
	 if($(this).val()==0){
		 $(".logistics_container").hide();
	 } else{
		  $(".logistics_container").show();
	 }
	 
	});
	
	
	
	$(document).on('click','.reset_form', function () {
 $(".form").trigger("reset");
	});
	
	$(document).on('click','.edit', function () {
			
			var role_id=$(this).attr("data-id");
			var role_name=$(this).attr("data-value");

			$('#edit_name').val(role_name);
			$('#user_role_id').val(role_id);
			
	});
	$(document).on('click','.goBack', function () {
			window.history.back();
	});
	
	
	 $(document).on('click','.viewReaplcedOrder', function () {
	     
             var suborder_id=$(this).attr("suborder_id");
               $.ajax({
		type : 'post',
		url : 'http://www.aptechbangalore.com/test/admin/getReaplcedOrder',
		data:{'suborder_id':suborder_id},
		success:function(data){
            var myObj = JSON.parse(data);   
		     $("#replaced_dialog").modal('show');
            $('.replaced_model_body').html(myObj.HTML);
		}
		});
            
	 });
       
        $(document).on('click','.replace_order', function () {
            $('.replace_model_body_attr_size').html("");
             $('.replace_model_inputs').html("");
            	$(".size_class").hide();
            		$(".color_class").hide();
        var suborder_id=$(this).attr("suborder_id");
         var product_id=$(this).attr("product_id");
        $("#replace_dialog").modal('show');
     
        $.ajax({
		type : 'post',
		url : 'http://www.aptechbangalore.com/test/admin/suborder_product_details',
		data:{'suborder_id':suborder_id,'product_id':product_id},
		success:function(data){
                var myObj = JSON.parse(data);
                    $('.replace_model_header').html(myObj.product_name);
                    $('.replace_model_body_attr_size').html(myObj.sizes_html);
                    $('.replace_model_body_attr_color').html(myObj.color_html);
                    $('.replace_model_inputs').html(myObj.inputs);
                 if(myObj.sizes>0){
                     	$(".size_class").show();
                 } else{
                     	$(".size_class").hide();
                 }
                  if(myObj.colors>0){
                     	$(".color_class").show();
                 } else{
                     	$(".color_class").hide();
                 }
		    
		}
		});
        });
        
        $(document).on('click','.sizeClass', function () {
        var size_id=$(this).attr('size_id');
                        $('#size_id').val(size_id);
                        $('#color_id').val(0);
				var prd_id=$(this).attr('prd_id');
				var token="FHW2xqBT0UWjdbZzubDnpk1EtAi4ZjgQchUVMNZI";
				 $(".sizeClass").removeClass("active");
				$(this).addClass('active');
			$.ajax({
               type:'POST',
			   async:true,
                url:"http://www.aptechbangalore.com/test/admin/admin_get_attr_dependend",
               data:{
						"size_id":size_id,
						"prd_id":prd_id,
						"attr_name":'Colors',
							"_token":token
				   },
               success:function(data) {
            var myObj = JSON.parse(data);
            $("#"+myObj.print_to).html(myObj.html);
						
               }
            });
        });
        
        $(document).on('click','.colorClass', function () {
        $(".colorClass").removeClass("active");
        $(this).addClass('active');
            var color_id=$(this).attr('color_id');
            $('#color_id').val(color_id);
        });
        
         $(document).on('click','.replaceOrderCurrent', function () {
             	 
                var color_id=$('#color_id').val();
                var size_id=$('#size_id').val();
                var product_type=$('#product_type').val();
                var order_id=$('#order_id').val();
                var product_id=$('#product_id').val();
                
                var remarks=$('#remarks').val();
                	var token="FHW2xqBT0UWjdbZzubDnpk1EtAi4ZjgQchUVMNZI";
                if(product_type==3){
                    if(color_id==0 || size_id==0){
                        alert("Select color or size to replace");
                        return false;
                    }
                }
               
			$.ajax({
               type:'POST',
			   async:false,
                url:"http://www.aptechbangalore.com/test/admin/replaceOrder",
               data:{
                        "color_id":color_id,
                        "size_id":size_id,
                        "product_id":product_id,
                         "remarks":remarks,
                        "order_id":order_id,
                        "_token":token
				   },
               success:function(data) {
                     var myObj = JSON.parse(data);
                     if(myObj.ERROR=='NONE'){
                        $('#table_row'+order_id).remove();
                        $("#replace_dialog").modal('hide');
                        alert("Request processing");
                        $(this).hide();
                        setTimeout(function(){  location.reload(); }, 2000);
                    }
                    if(myObj.ERROR=='YES'){
                         alert("something went wrong");
                    }
                   
						
               }
            });
        });
       
        
	
	$(document).on('click','.sell_class', function () {
var prd_id=$(this).attr("data");
$('#product_id').val(prd_id);
	$("#product_form").modal('show');
	$('.atr_group').html('');
	$(".add_atr").hide();
$.ajax({
		type : 'get',
		url : 'http://www.aptechbangalore.com/test/admin/getProDetails',
		data:{'prd_id':prd_id},
		success:function(data){
					var myObj = JSON.parse(data);
					$('#price').val(myObj.product_details.price);
					$('#qty').val(myObj.product_details.qty);
					$('#spcl_price').val(myObj.product_details.spcl_price);
					$('#spcl_from_date').val(myObj.product_details.spcl_from_date);
					$('#spcl_to_date').val(myObj.product_details.spcl_to_date);
					$('#manage_stock').val(myObj.product_details.manage_stock);
					$('#qty_out').val(myObj.product_details.qty_out);
					$('#stock_availability').val(myObj.product_details.stock_availability);
					if(myObj.product_attr_length>0){
						$('.atr_group').append(myObj.product_attr);
						$(".add_atr").show();
					} else{
						$('.atr_group').append('');
						$(".add_atr").hide();
					}
					
		}
		});
	});
	
		

	
	$(document).on('submit', 'form.productForm', function() { 
            $("#errors").html("");
			$(".ajaxSubmitButton").attr("disabled", true);
        $.ajax({
            url     : $(this).attr('action'),
            type    : $(this).attr('method'),
            dataType: 'json',
            data    : $(this).serialize(),
            success : function(data) {
				
					if(data.Error=='NO'){
						var id=$('#product_id').val();
						$("#product_row_"+id).hide();
						
                         $(".productForm").trigger("reset");
						 setTimeout(function(){  $("#errors").html(""); $("#product_form").modal('hide'); }, 2000);
						 
					} 
					$("#errors").append(data.Msg);
                 $(".ajaxSubmitButton").attr("disabled", false);					
            },
            error: function(xhr, status, error) 
        {
$(".ajaxSubmitButton").attr("disabled", false);	
          $.each(xhr.responseJSON.errors, function (key, item) 
          {
            $("#errors").append("<li class='alert alert-danger'>"+item+"</li>");
          });

        }
        });    
        return false;
    });
	
	
	$(document).on('click','.hidecat', function () {
		$(this).parent().parent().parent().children( ".element" ).hide();
		$(this).parent().html('<i class="fa fa-minus pointer showcat" aria-hidden="true"></i>');
	  
	});
	
	
	$(document).on('keyup','.onlych', function () {
	
		if (this.value.match(/[^a-zA-Z\-]/g)) {
			var value = this.value.replace(/[^a-zA-Z \-]/g, '');
			  this.value=value.replace(/\s+/g, '-');
			
			
		}
	});
	
	
	$(document).on('keyup','.onlych2', function () {
	
		if (this.value.match(/[^a-zA-Z\-]/g)) {
			var value = this.value.replace(/[^a-zA-Z \-]/g, '');
			  this.value=value.replace(/\s+/g, '');
			
			
		}
	});
	
	$(document).on('keyup','.size', function () {
	
		if (this.value.match(/[^0-9\-]/g)) {
			var value = this.value.replace(/[^0-9 \-]/g, '');
			  this.value=value.replace(/\s+/g, '-');
			
			
		}
	});
	
	$(document).on('keyup','.search_string', function () {
		var str=this.value;
		if(str.length>0){
			$(".searchButton").attr("disabled", false);
		} else{
			$(".searchButton").attr("disabled", true);
		}
	
	});
	$(document).on('keyup','.size2', function () {
	
		if (this.value.match(/[^0-9\-]/g)) {
			var value = this.value.replace(/[^0-9 \-]/g, '');
			  this.value=value.replace(/\s+/g, '');
			
			
		}
	});
		$(document).on('click','.removeAttributes', function () {
		var attr_id=$(this).attr("attr_id");
		var attr_name=$(this).attr("attr_name");
		var html='';
				html+='<tr  id="table_row_2'+attr_id+'">';
				html+='<td>'+attr_name+'</td>';
				html+='<td><i class="fa fa-plus text-red addTolist"  attr_id="'+attr_id+'" attr_name="'+attr_name+'" aria-hidden="true"></i></td>';
				html+='</tr>';
			$('#table_row_'+attr_id).remove();
			$('.tableListItem2').append(html);			
	});
	$(document).on('click','.addTolist', function () {
		var attr_id=$(this).attr("attr_id");
		var attr_name=$(this).attr("attr_name");
		var count = $(".tableListItem").children().length;
		count++;
		var html='';
				html+='<tr  id="table_row_'+count+'">';
				html+='<input type="hidden" name="arrt_id[]" value="'+attr_id+'">';
				html+='<td>'+attr_name+'</td>';
				html+='<td><i class="fa fa-trash text-red removeAttributes"  attr_id="'+count+'" attr_name="'+attr_name+'" aria-hidden="true"></i></td>';
				html+='</tr>';
		$('#table_row_2'+attr_id).remove();	
		$('.tableListItem').append(html);				
	});

	</script> 		
	<div class="content-wrapper">
	
	    <!-- Main content -->
      <section class="content">
     
       <div class="row">
        <!-- left column -->
        <div class="col-12">
          <!-- general form elements -->
          <div class="box">
            <div class="box-header with-border">
             
              <h4 class="box-title">Dashboard</h4>
              	<br>
              	
              		              
             
            </div>
			   
					
            <!-- /.box-header -->
         
            <!-- .box-body -->
              <div class="box-body">
                 
			   
					<!-- form start -->
				
					
					
    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-lg-3 col-md-12">
			<div class="box">
				<div class="box-header with-border p-0 pt-10">
					<div class="form-element lookup">
						<input class="form-control p-20 w-p100" type="text" placeholder="Search Contact">
					</div>
				</div>
				<div class="box-body p-0">
				  <div id="chat-contact" class="media-list media-list-hover media-list-divided ">
					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/2.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Hossein Shams</a></h6>
						<small class="text-green">Online</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/1.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Maryam Amiri</a></h6>
						<small class="text-warning">Away</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/3.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Sarah Conner</a></h6>
						<small class="text-danger">Busy</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/4.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Frank Camly</a></h6>
						<small class="text-danger">Busy</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/5.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Ted Erricson</a></h6>
						<small class="text-success">Online</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/6.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Ranian Mostalik</a></h6>
						<small class="text-success">Online</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/7.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">John Franklin</a></h6>
						<small class="text-success">Online</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/8.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Emma Larson</a></h6>
						<small class="text-success">Online</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/3.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Sarah Conner</a></h6>
						<small class="text-danger">Busy</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/4.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Frank Camly</a></h6>
						<small class="text-danger">Busy</small>
					  </div>
					</div>

					<div class="media media-single">
					  <a href="#">
						<img class="avatar avatar-xl" src="../../../images/avatar/5.jpg" alt="...">
					  </a>

					  <div class="media-body">
						<h6><a href="#">Ted Erricson</a></h6>
						<small class="text-success">Online</small>
					  </div>
					</div>
				  </div>
				</div>
            </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
        <div class="col-lg-9 col-md-12">
          <div class="box direct-chat">
            <div class="box-header with-border bg-lighter">
              <h3 class="box-title">Chat Message</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- Conversations are loaded here -->
              <div id="chat-app" class="direct-chat-messages chat-app">
                <!-- Message. Default to the left -->
                <div class="direct-chat-msg mb-30">
				  <div class="clearfix mb-15">
					<span class="direct-chat-name">James Anderson</span>
					<span class="direct-chat-timestamp pull-right">April 14, 2017</span>
				  </div>
				  <!-- /.direct-chat-info -->
				  <img class="direct-chat-img avatar" src="../../../images/user1-128x128.jpg" alt="message user image">
				  <!-- /.direct-chat-img -->
				  <div class="direct-chat-text">
					<p>Hi</p>
					<p>How are you ...???</p>
					<p>What are you doing tomorrow?<br>Would you like to get out of the town for a while?</p>
					<p class="direct-chat-timestamp"><time datetime="2018">23:58</time></p>
				  </div>
					
				  <!-- /.direct-chat-text -->
				</div>
                <!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right mb-30">
				  <div class="clearfix mb-15">
					<span class="direct-chat-name pull-right">You</span>
				  </div>
				  <div class="direct-chat-text">
					<p>Hiii, I'm good.</p>
                	<p>How are you doing?</p>
                	<p>Long time no see!</p>
                	<p class="direct-chat-timestamp"><time datetime="2018">00:06</time></p>
				  </div>
				  <!-- /.direct-chat-text -->
				</div>
                <!-- /.direct-chat-msg -->
				
				<div class="direct-chat-msg mb-30">
				  <img class="direct-chat-img avatar" src="../../../images/user1-128x128.jpg" alt="message user image">
				  <!-- /.direct-chat-img -->
				  <div class="direct-chat-text">
					<p>Yeah</p>
                	<p>We were out of country for a vacation. We visited several beautiful countries and made a lot of memmories.</p> 
                	<p class="direct-chat-timestamp"><time datetime="2018">00:06</time></p>
				  </div>					
					
				  <!-- /.direct-chat-text -->
				</div>
                <!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right mb-30">
				  <div class="direct-chat-text">
					<p>That's awesome!</p>
                	<p>You should tell me everything with all small details. I'm so curious to hear your stories.</p>
                	<p>Did you take pictures?</p>
                	<p class="direct-chat-timestamp"><time datetime="2018">00:09</time></p>
				  </div>
				  <!-- /.direct-chat-text -->
				</div>
                <!-- /.direct-chat-msg -->
				  
				 <div class="direct-chat-msg mb-30">
				  <div class="clearfix mb-15">
					<span class="direct-chat-name">James Anderson</span>
					<span class="direct-chat-timestamp pull-right">April 16, 2017</span>
				  </div>
				  <!-- /.direct-chat-info -->
				  <img class="direct-chat-img avatar" src="../../../images/user1-128x128.jpg" alt="message user image">
				  <!-- /.direct-chat-img -->
				  <div class="direct-chat-text">
					<p>We took a loooot. Here is some of them, I'll show you the rest once we meet.</p>
					<p class="popup-gallery">
						<a href="../../../images/gallery/thumb/4.jpg" title="Caption. Can be aligned to any side and contain any HTML.">
							<img src="../../../images/gallery/thumb/4.jpg" width="32.5%" alt="" />
						</a>
						<a href="../../../images/gallery/thumb/5.jpg" title="This image fits only horizontally.">
							<img src="../../../images/gallery/thumb/5.jpg" width="32.5%" alt="" />
						</a>
						<a href="../../../images/gallery/thumb/6.jpg">
							<img src="../../../images/gallery/thumb/6.jpg" width="32.5%" alt="" />
						</a>
					</p>
                	<p class="direct-chat-timestamp"><time datetime="2018">00:09</time></p>
				  </div>					
					
				  <!-- /.direct-chat-text -->
				</div>
                <!-- /.direct-chat-msg -->

                <!-- Message to the right -->
                <div class="direct-chat-msg right mb-30">
				  <div class="clearfix mb-15">
					<span class="direct-chat-name pull-right">You</span>
				  </div>
				  <div class="direct-chat-text">
					<p>These places are fantastic. Wish I could join you guys </p>
                	<p class="direct-chat-timestamp"><time datetime="2018">00:09</time></p>
				  </div>
				  <!-- /.direct-chat-text -->
				</div>
                <!-- /.direct-chat-msg -->
				  
              </div>
              <!--/.direct-chat-messages-->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <form action="#" method="post">
                <div class="input-group">
                  <input type="text" name="message" placeholder="Type Message ..." class="form-control">
                      <div class="input-group-addon">
						<div class="align-self-end gap-items">
						  <span class="publisher-btn file-group">
							<i class="fa fa-paperclip file-browser"></i>
							<input type="file">
						  </span>
						  <a class="publisher-btn" href="#"><i class="fa fa-smile-o"></i></a>
						  <a class="publisher-btn" href="#"><i class="fa fa-paper-plane"></i></a>
						</div>
					  </div>
                </div>
              </form>
            </div>
            <!-- /.box-footer-->
          </div>
          <!-- /. box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
				
					<!-- /form  end -->
              </div>
			  
              <!-- /.box-body -->
					</div>
          <!-- /.box -->


        </div>
        <!--/.col (left) -->
        <!-- right column -->
       
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
      
    </section>
    <!-- /.content -->
	
	</div>
	<footer class="main-footer">

	&copy; 2019 <a href="javscript:void(0)">18up.in</a>. All Rights Reserved.
	</footer> 
	
	</div>

</body>
</html>
